





.buttons {
    margin: 10px 0;
}

button {
    margin-right: 10px;
}

.element {
    display: inline-block;
    border :solid black 1px;
    text-align: center;
    width: 50px;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.highlight {
    background-color: lightgreen; /* Highlight for last inserted element */
}

.deleted {
    background-color: lightcoral; /* Color for deleted elements */
}

.empty-message {
    color: red;
}

.deleting-box {
    background-color: lightcoral;
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
    display: inline-block;
}

.found {
    background-color: orange; /* Highlight for found elements */
}
